# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_TOKEN=

# Geoapify
NEXT_PUBLIC_GEOAPIFY_API_KEY=

# Vercel
AI_GATEWAY_API_KEY=
